<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="Create/Edit"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Cedula:" for="cedula" />
                    <h:inputText id="cedula" value="#{clientecontrolador.clientestbl.cedula}" title="Cedula" required="true" requiredMessage="The Cedula field is required."/>
                    <h:outputLabel value="PriNombre:" for="priNombre" />
                    <h:inputText id="priNombre" value="#{clientecontrolador.clientestbl.priNombre}" title="PriNombre" />
                    <h:outputLabel value="SegNombre:" for="segNombre" />
                    <h:inputText id="segNombre" value="#{clientecontrolador.clientestbl.segNombre}" title="SegNombre" />
                    <h:outputLabel value="PriApellido:" for="priApellido" />
                    <h:inputText id="priApellido" value="#{clientecontrolador.clientestbl.priApellido}" title="PriApellido" />
                    <h:outputLabel value="SegApellido:" for="segApellido" />
                    <h:inputText id="segApellido" value="#{clientecontrolador.clientestbl.segApellido}" title="SegApellido" />
                    <h:outputLabel value="Direccion:" for="direccion" />
                    <h:inputText id="direccion" value="#{clientecontrolador.clientestbl.direccion}" title="Direccion" />
                    <h:outputLabel value="Telefono:" for="telefono" />
                    <h:inputText id="telefono" value="#{clientecontrolador.clientestbl.telefono}" title="Telefono" />
                    <h:outputLabel value="Movil:" for="movil" />
                    <h:inputText id="movil" value="#{clientecontrolador.clientestbl.movil}" title="Movil" />
                    <h:outputLabel value="Email:" for="email" />
                    <h:inputText id="email" value="#{clientecontrolador.clientestbl.email}" title="Email" />
                    <h:outputLabel value="Vehiculo:" for="vehiculo" />
                    <h:inputText id="vehiculo" value="#{clientecontrolador.clientestbl.vehiculo}" title="Vehiculo" />
                    <h:outputLabel value="Vivienda:" for="vivienda" />
                    <h:inputText id="vivienda" value="#{clientecontrolador.clientestbl.vivienda}" title="Vivienda" />
                    <h:outputLabel value="Profesion:" for="profesion" />
                    <h:inputText id="profesion" value="#{clientecontrolador.clientestbl.profesion}" title="Profesion" />
                    <h:outputLabel value="FechaNacimiento:" for="fechaNacimiento" />
                    <h:inputText id="fechaNacimiento" value="#{clientecontrolador.clientestbl.fechaNacimiento}" title="FechaNacimiento" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="Formalaboral:" for="formalaboral" />
                    <h:inputText id="formalaboral" value="#{clientecontrolador.clientestbl.formalaboral}" title="Formalaboral" />
               
                    <h:commandButton value="Actualizar" action="#{clientecontrolador.actualizar()}" ></h:commandButton>
                
                </h:panelGrid>
            </h:form>
        </f:view>

    </h:body>
</html>

