<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"

        xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
   
        <h:form id="form">
            <h:link value="inserta nuevo cliente" outcome="insertar"></h:link>
            <p:growl id="msgs" showDetail="true" />
            
            <p:dataTable widgetVar="clientestabla" var="cliente" value="#{clientecontrolador.findAll()}">
                
                <f:facet name="header">
                         <p:outputPanel>
                             <h:outputText value="Buscar todo" />
                             <p:inputText id="globalFiltrer" onkeyup="PF('clientestabla').filter()" style="width:150px" placeholder="Busqueda" />                    
                    </p:outputPanel>
                         </f:facet>
                
                <p:column sortBy="#{cliente.cedula}" filterBy="#{cliente.cedula}">
                    <f:facet name="header" >cedula</f:facet>
                    <h:outputText value="#{cliente.cedula}"/>
                </p:column>
                
                <p:column sortBy="#{cliente.priNombre}" filterBy="#{cliente.priNombre}">
                    <f:facet name="header" >Nombre</f:facet>
                    <h:outputText value="#{cliente.priNombre}"/>
                </p:column>
                
                
                <p:column sortBy="#{cliente.segNombre}" filterBy="#{cliente.segNombre}">
                    <f:facet name="header" >segundo nombre</f:facet>
                    <h:outputText value="#{cliente.segNombre}"/>
                </p:column>
                
                <p:column sortBy="#{cliente.priApellido}" filterBy="#{cliente.priApellido}">
                    <f:facet name="header" >PrimerApellido</f:facet>
                    <h:outputText value="#{cliente.priApellido}"/>
                </p:column>
                
                <p:column sortBy="#{cliente.segApellido}" filterBy="#{cliente.segApellido}">
                    <f:facet name="header" >segundo apellido</f:facet>
                    <h:outputText value="#{cliente.segApellido}"/>
                </p:column>
                
                <p:column sortBy="#{cliente.direccion}" filterBy="#{cliente.direccion}">
                    <f:facet name="header" >Dirección</f:facet>
                    <h:outputText value="#{cliente.direccion}"/>
                </p:column>
                
                <p:column sortBy="#{cliente.telefono}" filterBy="#{cliente.telefono}">
                    <f:facet name="header" >Telefono</f:facet>
                    <h:outputText value="#{cliente.telefono}"/>
                </p:column>
                
                <p:column sortBy="#{cliente.movil}" filterBy="#{cliente.movil}">
                    <f:facet name="header" >Movil</f:facet>
                    <h:outputText value="#{cliente.movil}"/>
                </p:column>
                
                   
                <p:column sortBy="#{cliente.email}" filterBy="#{cliente.email}">
                    <f:facet name="header" >Correo Electronico</f:facet>
                    <h:outputText value="#{cliente.email}"/>
                </p:column>
                
                   
                <p:column sortBy="#{cliente.vehiculo}" filterBy="#{cliente.vehiculo}">
                    <f:facet name="header" >Tiene vehiculo</f:facet>
                    <h:outputText value="#{cliente.vehiculo}"/>
                </p:column>
                
                <p:column sortBy="#{cliente.vivienda}" filterBy="#{cliente.vivienda}">
                    <f:facet name="header" >Tiene Vivienda</f:facet>
                    <h:outputText value="#{cliente.vivienda}"/>
                </p:column>
                
                <p:column sortBy="#{cliente.profesion}" filterBy="#{cliente.profesion}">
                    <f:facet name="header" >Profesión</f:facet>
                    <h:outputText value="#{cliente.profesion}"/>
                </p:column>
                
                <p:column sortBy="#{cliente.fechaNacimiento}" filterBy="#{cliente.fechaNacimiento}">
                    <f:facet name="header" >Fecha de nacimiento</f:facet>
                    <h:outputText value="#{cliente.fechaNacimiento}"/>
                </p:column>
                
                <p:column sortBy="#{cliente.formalaboral}" filterBy="#{cliente.formalaboral}">
                    <f:facet name="header" >Forma Laboral</f:facet>
                    <h:outputText value="#{cliente.formalaboral}"/>
                </p:column>
                
                <p:column>
                    <f:facet name="header" >Eliminar</f:facet>
                    <h:commandLink value="Eliminar" action="#{clientecontrolador.eliminar(cliente)}" onclick="return confirm('esta seguro de eliminar este cliente')"/>
                </p:column>
                
                  <p:column>
                    <f:facet name="header" >Actualizar</f:facet>
                    <h:commandLink value="actulizar" action="#{clientecontrolador.actualizar(cliente)}"/>
                </p:column>
                
                
                </p:dataTable>
                
                
                
            </h:form>
   

    </h:body>
</html>

